/* .card img {
    max-height: 200px;
} */

.card-img-top {
   width: 300px !important;
}


@media only screen and (max-width: 600px) {
    body {
      background-color: lightgray;
    }

    .row {
      display: flex;
      flex-direction: column;
    }
    
    .flex-list {
      flex-direction: column;
    }
  }


  .underline-dark {
    text-decoration: underline;
    text-decoration-color: #dc3545; 
    text-decoration-thickness: 20px;
 }
 